@font-face{
font-family: 'Brandon Grotesque';
src: url('../fonts/BrandonGrotesque-Regular.ttf');
font-weight: normal;
font-style: normal;

font-family: 'Brandon Grotesque';
src: url('../fonts/BrandonGrotesque-Black.ttf');
font-weight: 900;
font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent; 
  box-sizing: border-box;
}
::selection {
  color: #00BE9F;
 } 
/* Whole Page */
.content {
  user-select: none;
  width: 65.3%;
  margin: auto;
  padding-top: 2%;
}
/* Привет, я Виндар */
.greetings {
  float: left;
  width: 224px;
  font-family: 'Brandon Grotesque';
  line-height: 1.3;
  cursor: pointer;
}
.gr_one {
  font-size: 39px;
}
.gr_two {
  font-size: 26px;
  padding-left: 4px;
}
.greetings #gr_line {
  position: absolute;
  margin-top: 18px;
  width: 50px;
  background: black;
  height: 4px;
  cursor: pointer;
  transition: width 0.6s, background 0.3s;
}
.greetings #white_space {
  position: absolute;
  height: 18px;
  width: 224px;
}
.greetings span{
  transition: color 0.2s;
}
.greetings:hover #gr_line {
  width: 222px;
  background: #015190;
}
.greetings:hover span {
  color: #015190;
}
.load-anim4 {
  animation-name: fourthAnimation;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  animation-delay: 0.1s;
}
@keyframes fourthAnimation {
0% { 
    width: 3px;
  }
100% {
  
  } 
}
/* Контакты */
.media-button {
  margin-top: 56px;  
  text-decoration: none;
  cursor: pointer;
  height: 42px;
  float: right;
  margin-right: -75px;
  transform: translateY(-50%) translateX(-50%);
  width: 150px;
}
.media-button_back {
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
  padding: 5px 9px;
}
.media-button_front {
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: 'Lato';
  background-color: black;
  border-radius: 15px;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: center top;
  transition: all 0.6s; /* 0.6s  cubic-bezier(0.175, 0.85, 0.32, 1.2); */
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}
.media-button_text {
  margin: 0;
  line-height: 42px;
  font-size: 14px;
  text-align: center;
  color: white;
  transition: color 0.15s;
}
.media_link {
  text-align: center;
  position: relative;
  top: 40px;
  display: inline-block;
  opacity: 0;
  padding: 1px 3px;
  transition: all 0.3s;
  font-size: 24px; 
}
.vk {
  color: #b3b3b3;
  transition: color 0.25s;
}
.vk:hover {
  color: #4a76a8;
}
.tel {
  color: #b3b3b3;
  transition: color 0.25s;
}
.tel:hover {
  color: #0088cc;
}
.insta {
  color: #b3b3b3;
  transition: color 0.25s;
}
.insta:hover {
  color: #c13584;
}
.mail {
  color: #b3b3b3;
  transition: color 0.25s;
}
.mail:hover {
  color: #d44638;
}
.media-button:hover .media-button_front {
  transform: rotateX(90deg);
  opacity: 0.3;
  transition: all 0.3s;
}
.media-button:hover .media-button_text {
  color: black;
}
.media-button:hover .media_link {
  top: 0;
  opacity: 1;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275); 
}
.media-button:hover .media_link:nth-of-type(1){
  transition-delay: 0.1s;
}
.media-button:hover .media_link:nth-of-type(2){
  transition-delay: 0.2s;
}
.media-button:hover .media_link:nth-of-type(3){
  transition-delay: 0.3s;
}
.media-button:hover .media_link:nth-of-type(4){
  transition-delay: 0.4s;
}

/* Мокапы */
.wrap
{ 
  padding-top: 80px;
  position: relative; 
  margin: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-gap: 2em;
}
.wrap img {
  object-fit: cover;
}
.tile
{
  cursor: pointer;
  max-width: 350px;
  min-width: 350px;
  height: 600px;
  border-radius: 3px;
  background-color: #404040;
  display: inline-block;
  background-size: cover;
  position: relative;
  transition: all 0.5s ease-out;
  overflow: hidden;
  box-shadow: 0px 20px 47px -17px rgba(0,0,0,0.44);
  transition: all 0.4s;
}
.load-anim5 {
  animation-name: fifthAnimation;
  animation-fill-mode: forwards;
  animation-duration: 0.7s;
}
@keyframes fifthAnimation {
  0% { 
    transform: translateX(60px);
  }
  100% {
    
  } 
}
.load-anim6 {
  animation-name: sixthAnimation;
  animation-fill-mode: forwards;
  animation-duration: 0.8s;
}
@keyframes sixthAnimation {
  0% { 
    transform: translateX(90px);
  }
  100% {
    
  } 
}
.load-anim7 {
  animation-name: seventhAnimation;
  animation-fill-mode: forwards;
  animation-duration: 0.9s;
}
@keyframes seventhAnimation {
  0% { 
    transform: translateX(120px);
  }
  100% {
    
  } 
}
.tile img
{
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:0;
  transition: all 0.5s ease-out;
}
/* Тэг снизу */
.tag {
    color: black;
    background: white; 
    font-size: 14px;
    cursor: pointer;
    padding: 10px 18px;
    left: 20px;
    bottom: 25px;
    border-radius: 20px;
    text-align: center;
    position: absolute;
    text-decoration: none;
    z-index: 1;
    box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.3);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'Lato';
    transition: transform 0.2s;
}
.tag:hover {
  transform: translateY(-3px);
}
/* Стрелка сверху 
https://codepen.io/spankiejoe/pen/qdRpaW */
.hovicon {
    font-size: 25px;
    line-height: 54px;
    color: white;
    cursor: pointer;
    top: 20px;
    right: 20px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    z-index: 1;
}
.hovicon ion-icon {
  transition: all 0.3s;
}
.hovicon:hover ion-icon{
  transform: translateX(3px);
}
.hovicon:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    box-sizing: content-box;
}
/* Effect 1 */
 .hovicon.effect-1 {
    background: rgba(255, 255, 255, 0.1);
    transition: background 0.3s;
}
.hovicon .second {
  color: white;
  transition: color 0.3s;
}
.hovicon.effect-1:after {
    top: -5px;
    left: -5px;
    padding: 5px;
    box-shadow: 0 0 0 2px #fff;
    transition: transform 0.2s, opacity 0.2s;
    transform: scale(.8);
    opacity: 0;
}
.tile:hover .hovicon.effect-1.sub-a {
    background: rgba(255, 255, 255, 1);
}
.tile:hover .hovicon {
    color: #015190;
}
.tile:hover .hovicon.effect-1.sub-a:after {
    transform: scale(1);
    opacity: 1;
}
/* Terminal */
.outline {
  text-align: center;
  background: #151515;
  border-radius: 5px;
  font-size: 1.25em;
  font-family: monospace;
  color: #bbb;
  margin-top: 20px;
  padding: 8px 10px;
  width: 80px;
  margin-left: calc(50% - 50px);
  opacity: 0;
  cursor: default;
  transition: opacity 0.2s;
}
.copy-anim {
  animation-name: copyAnimation;
  animation-fill-mode: forwards;
  animation-duration: 1.7s;
}
@keyframes copyAnimation {
0% { 
    opacity: 0;
    cursor: default;
  }
20% {
    opacity: 1;
    cursor: text;
  } 
80% {
    opacity: 1;
    cursor: text;
}  
100% {
    opacity: 0;
    cursor: default;
}
}
.fakeButtons {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid #000;
  position: relative;
  top: 6px;
  left: 6px;
  background-color: #ff3b47;
  border-color: #9d252b;
  display: inline-block;
}
.fakeMinimize {
  left: 11px;
  background-color: #ffc100;
  border-color: #9d802c;
}
.fakeZoom {
  left: 16px;
  background-color: #00d742;
  border-color: #049931;
}
.fakeMenu {
  width: 310px;
  box-sizing: border-box;
  height: 25px;
  background-color: #bbb;
  margin: auto;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.fakeScreen {
  line-height: 1.6;
  background-color: #151515;
  box-sizing: border-box;
  width: 310px;
  height: 200px;
  margin: 0 auto;
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.fakeScreen p {
  position: relative;
  left: 50%;
  margin-left: -8.5em;
  text-align: left;
  font-size: 1.25em;
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}
.fakeScreen span {
  color: #fff;
  font-weight: bold;
}
.line1 {
  color: #9CD9F0;
  -webkit-animation: type .5s 1s steps(20, end) forwards;
  -moz-animation: type .5s 1s steps(20, end) forwards;
  -o-animation: type .5s 1s steps(20, end) forwards;
  animation: type .5s 1s steps(20, end) forwards;
}
.cursor1 {
  -webkit-animation: blink 1s 2s 2 forwards;
  -moz-animation: blink 1s 2s 2 forwards;
  -o-animation: blink 1s 2s 2 forwards;
  animation: blink 1s 2s 2 forwards;
}

.line2 {
  color: #CDEE69;
  -webkit-animation: type .5s 4.25s steps(20, end) forwards;
  -moz-animation: type .5s 4.25s steps(20, end) forwards;
  -o-animation: type .5s 4.25s steps(20, end) forwards;
  animation: type .5s 4.25s steps(20, end) forwards;
}
.cursor2 {
  -webkit-animation: blink 1s 5.25s 2 forwards;
  -moz-animation: blink 1s 5.25s 2 forwards;
  -o-animation: blink 1s 5.25s 2 forwards;
  animation: blink 1s 5.25s 2 forwards;
}
.line3 {
  cursor: pointer;
  color: #E09690;
  -webkit-animation: type .5s 7.5s steps(20, end) forwards;
  -moz-animation: type .5s 7.5s steps(20, end) forwards;
  -o-animation: type .5s 7.5s steps(20, end) forwards;
  animation: type .5s 7.5s steps(20, end) forwards;
}
.cursor3 {
  -webkit-animation: blink 1s 8.5s 2 forwards;
  -moz-animation: blink 1s 8.5s 2 forwards;
  -o-animation: blink 1s 8.5s 2 forwards;
  animation: blink 1s 8.5s 2 forwards;
}
.line5 {
  cursor: pointer;
  color: #4DA837;
  -webkit-animation: type .5s 10.75s steps(20, end) forwards;
  -moz-animation: type .5s 10.75s steps(20, end) forwards;
  -o-animation: type .5s 10.75s steps(20, end) forwards;
  animation: type .5s 10.75s steps(20, end) forwards;
}
.cursor5 {
  -webkit-animation: blink 1s 11.75s 2 forwards;
  -moz-animation: blink 1s 11.75s 2 forwards;
  -o-animation: blink 1s 11.75s 2 forwards;
  animation: blink 1s 11.75s 2 forwards;
}
.line4 {
  color: #fff;
  -webkit-animation: type .5s 14s steps(20, end) forwards;
  -moz-animation: type .5s 14s steps(20, end) forwards;
  -o-animation: type .5s 14s steps(20, end) forwards;
  animation: type .5s 14s steps(20, end) forwards;
}
.cursor4 {
  -webkit-animation: blink 1s 13s infinite;
  -moz-animation: blink 1s 13s infinite;
  -o-animation: blink 1s 13s infinite;
  animation: blink 1s 13s infinite;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes type {
  to {
    width: 17em;
  }
}
/*typeWriter */
.cross {
  position: relative;
}
.cross:after {
  right: 0;
  content: ' ';
  position: absolute;
  top: 55%;
  width: 120%;
  height: 1.1px;
  border: 1px solid white;
  background: black;
  animation-name: crossAnimation;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards; 
}
@keyframes crossAnimation{
0%   { 
    width : 0;
  }
100% { 
    width: 100%;
  }
}
.after_cross {
  animation-name: afterCrossAnimation;
  animation-delay: 1s;
  animation-duration: 0.4s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
@keyframes afterCrossAnimation{
0%   { 
    opacity: 1;
    pointer-events: none;
  }
100% { 
    opacity: 0;
  }
}
.footer {
  padding-top: 105px;
  padding-bottom: 20px; 
}
.Vindar {
  font-size: 30px; 
  font-family: 'Text Me One'; 
  letter-spacing: 4px; 
  margin-left: calc(50% - 49px); 
}
@media (max-width: 1650px) {
  .wrap {
    padding-bottom: 10px;
    padding-top: 40px;
    grid-template-columns: 2fr 1fr;
    grid-gap: 0em
  }
  .tile {
    margin-top: 40px;
  }
  .tile:nth-child(3) {
    margin-top: 60px;
  }
}
@media (max-width: 1150px) {
  .wrap {
    grid-template-columns: 1fr;
    margin-left: calc(50% - 175px);
    padding-top: 0px;
  }
  .tile:nth-child(1){
    margin-top: 44px;
  }
  .tile {
    margin-top: 60px;
  }
  .footer {
    padding-top: 60px;
    user-select: none;
  }
} 
@media screen and (max-width: 800px){
  #nav-icon:hover span:nth-child(1) {
    width: 60%;
    margin-left: 40%;
  }  
  #nav-icon:hover span:nth-child(3) {
    width: 60%;
  } 
  #nav-icon.open:hover span:nth-child(1) {
    width: 45%;
    margin-left: 55%;
  }  
  #nav-icon.open:hover span:nth-child(3) {
    width: 45%;
  } 
  #nav-icon:hover span:nth-child(2) {
    width: 100%;
    margin-left: 0%;
  }
  .content {
    max-width: 100%;
  }
  .top-wrap {
    cursor: pointer;
    height: 100px;
    max-width: 224px;
    margin-left: calc(50% - 112px);
  }
  .media-button {
    margin-top: 20px;
    float: left;
    position: relative;
    margin-left: 147px;
  }
  .greetings #gr_line{
    width: 68px;
  }
  .greetings {
    margin-top: 20px;
    position: relative;
  }
  .greetings:hover #gr_line {
    background: black;
    width: 68px;
  }
  .top-wrap:hover .greetings span {
    color: #015190;
  }
  .top-wrap:hover .media-button_front {
    transform: rotateX(90deg);
    opacity: 0.3;
    transition: all 0.3s;
  }
  .top-wrap:hover .media-button_text {
    color: black;
  }
  .top-wrap:hover .media_link {
    top: 0;
    opacity: 1;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275); 
  }
  .top-wrap:hover .media_link:nth-of-type(1){
    transition-delay: 0.1s;
  }
  .top-wrap:hover .media_link:nth-of-type(2){
    transition-delay: 0.2s;
  }
  .top-wrap:hover .media_link:nth-of-type(3){
    transition-delay: 0.3s;
  }
  .top-wrap:hover .media_link:nth-of-type(4){
    transition-delay: 0.4s;
  }
}
@media (max-width: 400px){
  .wrap {
    width: 280px;
    margin-left: calc(50% - 140px);
  }
  .tile {
    max-width: 280px;
    min-width: 280px;
    height: 479px;
  }
}
@media (max-width: 280px){
  .wrap {
    width: 224px;
    margin-left: calc(50% - 112px);
  }
  .tile {
    max-width: 224px;
    min-width: 224px;
    height: 384px;
  }
}
/* Preloader */
#p_prldr { 
position: fixed;
left: 0;
top: 0;
right: 0;
bottom: 0;
background-color: #fff;
z-index: 100;
}
.contpre {
width: 250px;
height: 100px;
position: absolute;
left: 50%;
top: 48%;
margin-left: -120px;
margin-top: -75px;
text-align: center;
}
#p_prldr .svg_anm {
position: absolute;
width: 41px;
height: 41px;
background: url(../images/loader.svg) center center no-repeat;
background-size: 41px;    
margin: -20px 0 0 -20px;
}
